<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myVisiteLabel" jhiTranslate="rbsmrJhipsterApp.visite.home.createOrEditLabel">Create or edit a Visite</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!visite.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="visite.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rbsmrJhipsterApp.visite.indice" for="field_indice">Indice</label>
            <input type="number" class="form-control" name="indice" id="field_indice"
                [(ngModel)]="visite.indice" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rbsmrJhipsterApp.visite.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="visite.code" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rbsmrJhipsterApp.visite.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="visite.nom" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rbsmrJhipsterApp.visite.temps" for="field_temps">Temps</label>
            <input type="number" class="form-control" name="temps" id="field_temps"
                [(ngModel)]="visite.temps" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
