
<div *ngIf="centre">
    <h2><span jhiTranslate="rbsmrJhipsterApp.centre.detail.title">Centre</span> {{centre.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rbsmrJhipsterApp.centre.nom">Nom</span></dt>
        <dd>
            <span>{{centre.nom}}</span>
        </dd>
        <dt><span jhiTranslate="rbsmrJhipsterApp.centre.adresse">Adresse</span></dt>
        <dd>
            <span>{{centre.adresse}}</span>
        </dd>
        <dt><span jhiTranslate="rbsmrJhipsterApp.centre.tel">Tel</span></dt>
        <dd>
            <span>{{centre.tel}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'centre-rbsmr/'+ centre.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
