<div>
    <h2>
        <span jhiTranslate="rbsmrJhipsterApp.reponseNewAudit.home.title">Reponse New Audits</span>
        <button class="btn btn-primary float-right jh-create-entity create-reponse-new-audit-rbsmr" [routerLink]="['/', { outlets: { popup: ['reponse-new-audit-rbsmr-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rbsmrJhipsterApp.reponseNewAudit.home.createLabel">
            Create new Reponse New Audit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="reponseNewAudits">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="rbsmrJhipsterApp.reponseNewAudit.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reponseOld"><span jhiTranslate="rbsmrJhipsterApp.reponseNewAudit.reponseOld">Reponse Old</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reponseNew"><span jhiTranslate="rbsmrJhipsterApp.reponseNewAudit.reponseNew">Reponse New</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="raison"><span jhiTranslate="rbsmrJhipsterApp.reponseNewAudit.raison">Raison</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="raisonFileUrl"><span jhiTranslate="rbsmrJhipsterApp.reponseNewAudit.raisonFileUrl">Raison File Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dMOld"><span jhiTranslate="rbsmrJhipsterApp.reponseNewAudit.dMOld">D M Old</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dMNew"><span jhiTranslate="rbsmrJhipsterApp.reponseNewAudit.dMNew">D M New</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="codeQuestion"><span jhiTranslate="rbsmrJhipsterApp.reponseNewAudit.codeQuestion">Code Question</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="codePatient"><span jhiTranslate="rbsmrJhipsterApp.reponseNewAudit.codePatient">Code Patient</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="rbsmrJhipsterApp.reponseNewAudit.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="arcId"><span jhiTranslate="rbsmrJhipsterApp.reponseNewAudit.arc">Arc</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reponseNewAudit of reponseNewAudits ;trackBy: trackId">
                <td><a [routerLink]="['../reponse-new-audit-rbsmr', reponseNewAudit.id ]">{{reponseNewAudit.id}}</a></td>
                <td>{{reponseNewAudit.date | date:'medium'}}</td>
                <td>{{reponseNewAudit.reponseOld}}</td>
                <td>{{reponseNewAudit.reponseNew}}</td>
                <td>{{reponseNewAudit.raison}}</td>
                <td>{{reponseNewAudit.raisonFileUrl}}</td>
                <td>{{reponseNewAudit.dMOld}}</td>
                <td>{{reponseNewAudit.dMNew}}</td>
                <td>{{reponseNewAudit.codeQuestion}}</td>
                <td>{{reponseNewAudit.codePatient}}</td>
                <td>{{reponseNewAudit.type}}</td>
                <td>
                    <div *ngIf="reponseNewAudit.arcId">
                        <a [routerLink]="['../utilisateur-rbsmr', reponseNewAudit.arcId  ]" >{{reponseNewAudit.arcId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../reponse-new-audit-rbsmr', reponseNewAudit.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reponse-new-audit-rbsmr/'+ reponseNewAudit.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reponse-new-audit-rbsmr/'+ reponseNewAudit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="reponseNewAudits && reponseNewAudits.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
