<div>
    <h2>
        <span jhiTranslate="rbsmrJhipsterApp.patient.home.title">Patients</span>
        <button class="btn btn-primary float-right jh-create-entity create-patient-rbsmr" [routerLink]="['/', { outlets: { popup: ['patient-rbsmr-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rbsmrJhipsterApp.patient.home.createLabel">
            Create new Patient
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="patients">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="initial"><span jhiTranslate="rbsmrJhipsterApp.patient.initial">Initial</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateEnregistrement"><span jhiTranslate="rbsmrJhipsterApp.patient.dateEnregistrement">Date Enregistrement</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateVisite"><span jhiTranslate="rbsmrJhipsterApp.patient.dateVisite">Date Visite</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="biotherapie"><span jhiTranslate="rbsmrJhipsterApp.patient.biotherapie">Biotherapie</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sexe"><span jhiTranslate="rbsmrJhipsterApp.patient.sexe">Sexe</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="medecinId"><span jhiTranslate="rbsmrJhipsterApp.patient.medecin">Medecin</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let patient of patients ;trackBy: trackId">
                <td><a [routerLink]="['../patient-rbsmr', patient.id ]">{{patient.id}}</a></td>
                <td>{{patient.initial}}</td>
                <td>{{patient.dateEnregistrement | date:'medium'}}</td>
                <td>{{patient.dateVisite | date:'medium'}}</td>
                <td>{{patient.biotherapie}}</td>
                <td>{{patient.sexe}}</td>
                <td>
                    <div *ngIf="patient.medecinId">
                        <a [routerLink]="['../utilisateur-rbsmr', patient.medecinId  ]" >{{patient.medecinId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../patient-rbsmr', patient.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'patient-rbsmr/'+ patient.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'patient-rbsmr/'+ patient.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="patients && patients.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
