
<div *ngIf="formulaire">
    <h2><span jhiTranslate="rbsmrJhipsterApp.formulaire.detail.title">Formulaire</span> {{formulaire.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rbsmrJhipsterApp.formulaire.numero">Numero</span></dt>
        <dd>
            <span>{{formulaire.numero}}</span>
        </dd>
        <dt><span jhiTranslate="rbsmrJhipsterApp.formulaire.indice">Indice</span></dt>
        <dd>
            <span>{{formulaire.indice}}</span>
        </dd>
        <dt><span jhiTranslate="rbsmrJhipsterApp.formulaire.code">Code</span></dt>
        <dd>
            <span>{{formulaire.code}}</span>
        </dd>
        <dt><span jhiTranslate="rbsmrJhipsterApp.formulaire.nom">Nom</span></dt>
        <dd>
            <span>{{formulaire.nom}}</span>
        </dd>
        <dt><span jhiTranslate="rbsmrJhipsterApp.formulaire.conditionAttribut">Condition Attribut</span></dt>
        <dd>
            <span>{{formulaire.conditionAttribut}}</span>
        </dd>
        <dt><span jhiTranslate="rbsmrJhipsterApp.formulaire.conditionValeur">Condition Valeur</span></dt>
        <dd>
            <span>{{formulaire.conditionValeur}}</span>
        </dd>
        <dt><span jhiTranslate="rbsmrJhipsterApp.formulaire.visite">Visite</span></dt>
        <dd>
            <div *ngIf="formulaire.visiteId">
                <a [routerLink]="['/visite-rbsmr', formulaire.visiteId]">{{formulaire.visiteNom}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="rbsmrJhipsterApp.formulaire.templateFormulaire">Template Formulaire</span></dt>
        <dd>
            <div *ngIf="formulaire.templateFormulaireId">
                <a [routerLink]="['/template-formulaire-rbsmr', formulaire.templateFormulaireId]">{{formulaire.templateFormulaireNom}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'formulaire-rbsmr/'+ formulaire.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
